.about {
  height: fit-content;
  width: 80vw;
  text-align: center;
  justify-content: center
}

h1 {
  /* border: 5px solid; */
  margin-top: 1px;
  margin-bottom: 2px;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 5px 0 0 #000, 0 -1px 0 #000, 0 7px 0 #000, -1px 0 0 #000;
  justify-content: center
}

h2 {
  margin-top: 1px;
  margin-bottom: 2px;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 5px 0 0 #000, 0 -1px 0 #000, 0 7px 0 #000, -1px 0 0 #000;
}

button {
  margin-top: 15px;
  float: center;
}

button:hover {
  color: red;
}

.about-page {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #000000;
  border-radius: 20px;
  position: relative;
  font-size: 20px;
  /* transform: translate(-5%, 10%); */
  z-index: 1;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 10px;
  width: auto;
  height: fit-content;
  /* padding: 100px; */
  /* float: right; */
  /* margin-left: 100px; */
  text-align: center;
  justify-content: center;
  box-shadow: 5px 10px 18px black;
}



