* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("");

  /* Add the blur effect */
  filter: blur(15px);
  -webkit-filter: blur(15px);

  /* Full height */
  height: 100vh; 
  width: 100vw;
  z-index: -1;
  position: absolute;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
}


/* Position text in the middle of the page/image */
.main-content {
  /*background-color: rgb(0,0,0); /* Fallback color */
  /*background-color: rgba(0,0,0, 0.5); /* Black w/opacity/see-through */
  /* border: 3px solid #f1f1f1; */
  position: static;
  margin-top: 10vh;
  /* height: fit-content; */
  z-index: 1;
  width: 80vw;
  height: 80vw;
  /*transform: translate(10%, 0%);*/
  /* padding: 20px; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* overflow:hidden */
}

.responsive {
  width: auto;
  height: 50vh;
}
.card-image {
  background-color: rgb(7, 7, 7); /* Fallback color */
  position: relative;
  /* padding-top: 15vh; */
  border: 3px solid #000000;
  /* transform: translate(-5%, 10%); */
  z-index: 3;
  height: fit-content;
  float: left;
  box-shadow: 5px 10px 18px black;
  border-radius: 22px;
}
.alignright {
	float: right;
}
.text-box {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #000000;
  border-radius: 20px;
  position: relative;
  transform: translate(-8%, 5%);
  z-index: 2;
  width: 32vw;
  height: fit-content;
  padding-left: 64px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  float: right;
  /* margin-left: 100px; */
  text-align: center;
  font-size: 19px;
  justify-content: flex-end;
  box-shadow: 5px 10px 18px black;
}
.text-box2 {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.1); /* Black w/opacity/see-through */
  /* border: 3px solid #000000; */
  /* border-radius: 20px; */
  position: absolute;
  transform: translate(0%, 25vh);
  z-index: 1;
  width: 100vw;
  height: fit-content;
  padding: 50px;
  /* box-shadow: 5px 10px 18px black; */
  overflow:hidden
}
.text-box3 {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.1); /* Black w/opacity/see-through */
  /* border: 3px solid #000000; */
  /* border-radius: 20px; */
  position: absolute;
  transform: translate(-16vw, -10vh);
  z-index: 1;
  width: fit-content;
  height: 100vh;
  padding: 50px;
  overflow:hidden
  /* box-shadow: 5px 10px 18px black; */
}
 /* Dashed border */
 hr.dashed {
  border-top: 3px dashed #636363;
}

/* Dotted border */
hr.dotted {
  border-top: 3px dotted #636363;
}

/* Solid border */
hr.solid {
  border-top: 1px solid #636363;
}

/* Rounded border */
hr.rounded {
  border-top: 8px solid #afafaf;
  border-radius: 5px;
} 