* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("");

  /* Add the blur effect */
  filter: blur(15px);
  -webkit-filter: blur(15px);

  /* Full height */
  height: 91vh; 
  width: 100vw;
  z-index: -1;
  position: absolute;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.main-content {
  /*background-color: rgb(0,0,0); /* Fallback color */
  /*background-color: rgba(0,0,0, 0.5); /* Black w/opacity/see-through */
  /*border: 3px solid #f1f1f1;*/
  position: absolute;
  height: fit-content;
  z-index: 1;
  width: 60vw;
  /*transform: translate(10%, 0%);*/
  /* padding: 20px; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.responsive {
  width: auto;
  height: 500px;
}
.card-image {
  position: relative;
  /* border: 3px solid #636363; */
  z-index: 3;
  height: 80%;
  float: left;
}
.text-box {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #000000;
  border-radius: 20px;
  position: relative;
  transform: translate(-5%, 10%);
  z-index: 2;
  width: 50%;
  height: 68%;
  padding: 100px;
  float: right;
  /* margin-left: 100px; */
  text-align: center;
  overflow: hidden;
}
 /* Dashed border */
 hr.dashed {
  border-top: 3px dashed #636363;
}

/* Dotted border */
hr.dotted {
  border-top: 3px dotted #636363;
}

/* Solid border */
hr.solid {
  border-top: 1px solid #636363;
}

/* Rounded border */
hr.rounded {
  border-top: 8px solid #636363;
  border-radius: 5px;
} 