body{
    background-color: #454545;
    background-image: url("../images/home_background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    object-fit: 100%;
    padding:0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
}
.nav-container{
    display: grid;
    background-color: #333;
}
.link-container{
    display:flex;
    height: 9vh;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    color: #FEFEFE;
    grid-row: 2/3;
}
a{
    color: #f2f2f2;
    text-decoration: none;
    padding: 4vh 16px;
}
.nav-item{
    margin: 10px;
    display:flex;
    justify-content: center;
}
.nav-item:hover{
    background-color: rgb(236, 171, 171);
    color: black;
    border-radius:10px;
}
.search-bar-container{
    display:flex;
    background-color: #333;
    height: 9vh;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    grid-row: 2/3
}
.search-bar{
    width:250px;
    height:45px;
    border-radius: 20px;
    color:#000;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
}
.search-button{
    align-items: center;
    background-color: #454545;
    width: 2vw;
    height: 4vh;
    border-radius: 10px;
    color:#FEFEFE
}

.center-search{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 35vh;
    
}
.search-buttons{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    
}
.search-buttons-long{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    align-items: center;
    background-color: #454545;
    height: 4vh;
    border-radius: 10px;
    color:#FEFEFE;
    margin: 3px;
}
.search-bar.long{
    width:500px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    font-weight: bold;
    align-items: center;  
}
.bottom-image{
    display: flex;
    justify-content: center;    
}
.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown-content a {
    float: none;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: rgb(236, 171, 171);
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
.search-result-box{
    width: 90vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 10px;
    overflow-y: scroll;
}
.content-container{
    width:100vw;
    height: 91vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    z-index: 3;
    position: relative;
}
::-webkit-scrollbar{
    width:10px
}
::-webkit-scrollbar-track{
    border-radius: 10px;
}
.search-result-item{
    page-break-after: auto;
    page-break-before: auto;
    page-break-inside: avoid;
    position: relative;
    display: block;
    margin: 0 0 9px 0;
    height:300px;
    
}

.form-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: left;
}

.form-row-label {
    height: 63px;
    margin: 0;
}
.form-row-label {
    width: 18px;
    min-width: 180px;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    padding: 0 8px 0 0;
    border: 1px solid transparent;
    display: flex;
    justify-content: right;
    align-items: center;
}

.rarity-class{
    color: #e2131345, 29, 29;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .container input {
    position: center;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: rgb(185, 177, 177);
    margin-right: 1px;
    margin-left: 7px;
    position: bottom 0;
    
  }
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  .container input:checked ~ .checkmark {
    background-color: rgb(236, 171, 171);
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  .container .checkmark:after {
    left: 9px;
    top: 2px;
    width: 3px;
    height: 15px;
    border: solid rgb(0, 0, 0);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .commander{
    display: flex;
    flex-direction: row;
    
  }
 .white-box{
    display: flex;
    position: center;
    height: fit-content;
    bottom: 0;
    padding-top: 25px;
 }
 .hero {
    position: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-style: oblique;
    text-decoration: double;
    
 }
